.container {
  position: relative;
  overflow: hidden;
}

.slides {
  position: absolute;
  height: 98vh;
  width: 98vw;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
}
  /* .overflow {
  text-align: center;
} */

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  overflow: hidden;
}

.slide_img {
  width: 100%;
  height: 100%;
  line-height: 0;
}


.slide.active {
  opacity: 1;
  z-index: 2;
}

.slide {
  box-sizing: border-box;
}

.controls {

  width: 97vw;
  height: 100px;
  text-align: center;
  position: absolute;
  padding: 0;
  top: calc(50% - 50px);
  z-index: 2;
  z-index: 2;
  display: none;

}

.controls-grid {
  display: grid;
  grid-template-columns: 110px auto 110px; 
  font-size: 100px;
}

.indicators {
  width: 97vw;
  height: 60px;
  text-align: center;
  position: absolute;
  padding: 0;
  bottom: 0;
  z-index: 2;
}

.indicator {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  text-align: center;

}

.indicator.active {
  opacity: 0;
  
}

.controls {

  color: white;
  opacity: 0.5;
  transition: 0.8s;

}

.controls:hover,
.controls:focus {
  opacity: 1;
}


